#box{


        height: 500px;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;

        justify-content: space-evenly;
        padding-top:50px ;
    }
    .okk{

        height: 50px;
        width: 50px;
        border: 1px solid black;
    }
   .ok{

        height: 50px;
        width: 50px;
        
        border: 1px solid black;
        border-radius: 50px;

    }